html{
	font-size: 10px;
}
.f-nav{ z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;}
.align-c{
	text-align: center;
}
.align-l{
    text-align: left;
}
.align-r{
    text-align: right;
}
.font{
	font-family: 'Source Sans Pro', sans-serif;
}
.bg-1{
	background: rgb(51,51,51);
}
.bg-2{
	background: rgb(45,49,58);
}
.light-bg{
	background: rgb(241,243,240);
}
.body-img{
	height: 80vh;
	background: url('../image/bg.png') no-repeat center center;
	background-size: cover;
}
.body-color{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.65);
}
.body-row-top{
	height: 60%;
}
.body-row-bottom{
	height: 40%;
}
.icon-head{
	color: rgb(63,158,252);
	font-size: 1.2rem;
    vertical-align: middle;
}
.label-head-white-l{
	font-weight: 300;
	font-size: 1.5rem;
	color: #fff;
}
.label-head-white-b{
	font-weight: 700;
	font-size: 1.8rem;
	color: #fff;
}
.label-menu-white-l{
    font-weight: 300;
	font-size: 1.3rem;
	color: #fff;
}
.body-label-r-1{
	font-weight: 400;
	font-size: 3rem;
	color: #fff;
}
.body-label-r-2{
	font-weight: 400;
	font-size: 2rem;
	/*font-size: 2.8vw;*/
	/*font-size: 4.6vh;*/
	color: rgb(63,158,252);
}
.label-space{
	font-size: 1rem;
	letter-spacing: .3rem;
	width: 100%;
	color: rgb(51,51,51);
}
.label-big-b{
	font-size: 3.5rem;
	font-weight: 700;
	color: rgb(51,51,51);
}
.label-normal-r{
	font-weight: 400;
	margin-top: 1rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: rgb(51,51,51);
}